<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <link rel="stylesheet" href="/styles/formStyle.css">
    <script src="/showImage.js" defer></script>
</head>
<body>
    <form action="add-item" method="POST" enctype="multipart/form-data">
        <label for="groceryname">Item: </label>
        <input type="text" name="groceryname" id="groceryname" required>

        <label for="price">Price: </label>
        <input type="number" name="price" id="price" step=".01" required>

        <label for="rating">Rating: </label>
        <input type="number" name="rating" id="rating" min="0" max="5" step="0.5" required>

        <label for="categoryname">Category: </label>
        <select name="categoryname" id="categoryname" required>
            <% categories.forEach(category => { %>
                <% let selected = category.categoryname === selectValue ? "selected" : "" %>
                <option value="<%= category.categoryname %>" <%= selected %>><%= category.categoryname %></option>
            <% }) %>
        </select>

        <label for="companyname">Company: </label>
        <select name="companyname" id="companyname" required>
            <% companies.forEach(company => { %>
                <% let selected = company.companyname === selectValue ? "selected" : "" %>
                <option value="<%= company.companyname %>" <%= selected %>><%= company.companyname %></option>
            <% }) %>
        </select>

        <label for="image">Image (PNG, JPG): </label>
        <input type="file" name="image" id="image" accept=".png, .jpg, .jpeg">

        <img id="dummy" src="">

        <button type="submit">Submit</button>
        <a href="/<%= link %>">Go Back</a>
    </form>
</body>
</html>