<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= group %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="categories">
        <% groceries.forEach(grocery => { %>
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Pink_lady_and_cross_section.jpg/220px-Pink_lady_and_cross_section.jpg">
                <p>Price: $<%= grocery.price %></p>
                <a href="/<%= name %>/<%= group %>/<%= grocery.groceryname %>"><%= grocery.groceryname %></a>
                <p>Rating: <%= grocery.rating %></p>
            </div>
        <% }) %>
    </div>
    <a href="/<%= name %>/<%= group %>/add-item">Add Item</a>
    <a href="/<%= name %>/<%= group %>/delete-<%= thing %>">Delete <%= text %></a>
    <a href="/<%= name %>">Go Back</a>
</body>
</html>