<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= group %></title>
</head>
<body>
    <% groceries.forEach(grocery => { %>
        <div>
            <a href="/categories/<%= group %>/<%= grocery.groceryname %>"><%= grocery.groceryname %></a>
        </div>
    <% }) %>
    <a href="/categories/<%= group %>/add-item">Add Item</a>
    <a href="/categories/<%= group %>/delete-category">Delete Category</a>
    <a href="../">Go Back</a>
</body>
</html>