<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= group %></title>
</head>
<body>
    <% groceries.forEach(grocery => { %>
        <div>
            <a href="/<%= name %>/<%= group %>/<%= grocery.groceryname %>"><%= grocery.groceryname %></a>
        </div>
    <% }) %>
    <a href="/<%= name %>/<%= group %>/add-item">Add Item</a>
    <a href="/<%= name %>/<%= group %>/delete-<%= thing %>">Delete <%= text %></a>
    <a href="/<%= name %>">Go Back</a>
</body>
</html>